[run]
branch = True
source = src

[report]
omit =
    */tests/*
    */__init__.py

# Show missing lines in report output
show_missing = False

exclude_lines =
    pragma: no cover

[html]
# Directory where HTML reports will be saved
directory = htmlcov