# Extras That Shouldn't Be Here
.git/
.gitignore
.dockerignore
docker-compose*
Dockerfile
makefile
htmlcov/
coverage.xml
.coverage*
*.svg
frontend/node_modules/
bin/
*.bin

.vscode/
.ruff_cache/
*.dat
profile.svg

# Frontend
.DS_Store
/build
/.svelte-kit
/package
.example*

# Backend
logs/
settings.json
__pycache__
*.log
data
test*

# Jupyter Notebooks
.ipynb_checkpoints

# Environments
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
