# Extras That Shouldn't Be Here
.gitignore
.dockerignore
docker-compose.yml
Dockerfile

# Frontend
.DS_Store
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Backend
logs/
settings.json
__pycache__
*.log
data
test*

# Jupyter Notebooks
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
