services:
  riven:
    image: spoked/riven:latest
    container_name: riven
    restart: unless-stopped
    tty: true
    environment:
      - PUID=1000
      - PGID=1000
      - ORIGIN=http://localhost:3000
      - TZ=America/New_York
      - RIVEN_DATABASE_HOST=postgresql+psycopg2://postgres:postgres@riven_postgres/riven
    volumes:
      - ./data:/riven/data
      - /mnt:/mnt
    ports:
      - "3000:3000"
  riven_postgres:
    image: postgres:16.3-alpine3.20
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: riven
    networks:
      - postgres-internal