# docker compose -f docker-compose-dev.yml up -d --build --no-deps
# docker compose -f docker-compose-dev.yml down
services:
  riven:
    build:
      context: .
      dockerfile: Dockerfile
      no_cache: true
    container_name: riven
    restart: unless-stopped
    tty: true
    shm_size: 1024m
    ports:
      - "8080:8080"
    environment:
      PUID: 1000
      PGID: 1000
      TZ: UTC
      ORIGIN: ${RIVEN_ORIGIN:-http://localhost:8080}
      RIVEN_DATABASE_HOST: postgresql+psycopg2://postgres:postgres@riven-db:5432/riven
    devices:
      - /dev/fuse
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    healthcheck:
      test: curl -s http://localhost:8080 >/dev/null || exit 1
      interval: 30s
      timeout: 10s
      retries: 10
    volumes:
      - ./container_data/riven:/riven/data
      - ./container_data/mount:/mount:rshared,z
    depends_on:
      riven-db:
        condition: service_healthy

  riven-db:
    image: postgres:17-alpine
    container_name: riven-postgres
    ports:
      - "5432:5432"
    restart: unless-stopped
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: riven
    volumes:
      - ./container_data/db:/var/lib/postgresql/data/pgdata
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
