services:
    riven:
        image: spoked/riven:dev
        container_name: riven
        restart: unless-stopped
        env_file: .env
        ports:
            - "8080:8080"
        tty: true
        cap_add:
            - SYS_ADMIN
        security_opt:
            - apparmor:unconfined
        shm_size: 1024m
        devices:
            - /dev/fuse
        environment:
            PUID: ${PUID:-1000}
            PGID: ${PGID:-1000}
            TZ: ${TZ:-America/New_York}
            RIVEN_DATABASE_HOST: >-
                postgresql+psycopg2://${RIVEN_BACKEND_DB_USER:?set in .env}:${RIVEN_BACKEND_DB_PASSWORD:?set in .env}@${RIVEN_BACKEND_DB_HOST:?set in .env}:${RIVEN_BACKEND_DB_PORT:?set in .env}/${RIVEN_BACKEND_DB_NAME:?set in .env}
        healthcheck:
            test: curl -s http://localhost:8080 >/dev/null || exit 1
            interval: 30s
            timeout: 10s
            retries: 10
        volumes: 
             # NOTE: Make sure RIVEN_APP_DATA and RIVEN_HOST_MOUNT_PATH are created and owned by PUID:PGID
             # sudo chown -R 1000:1000 <dir>
            - ${RIVEN_APP_DATA:-./data}:/riven/data # default to ./data if not set in .env
            - ${RIVEN_HOST_MOUNT_PATH:?set in .env}:/mount:rshared,z
        depends_on:
            riven_postgres:
                condition: service_healthy

    riven_postgres:
        image: postgres:17-alpine
        container_name: riven-db
        environment:
            - PGDATA=/var/lib/postgresql/data/pgdata
            - POSTGRES_USER=${RIVEN_BACKEND_DB_USER:?set in .env}
            - POSTGRES_PASSWORD=${RIVEN_BACKEND_DB_PASSWORD:?set in .env}
            - POSTGRES_DB=${RIVEN_BACKEND_DB_NAME:?set in .env}
        volumes:
             # NOTE: Make sure RIVEN_DB_DATA is created and owned by PUID:PGID
             # mkdir -p ./db && sudo chown -R 1000:1000 ./db
            - ${RIVEN_DB_DATA:-./db}:/var/lib/postgresql/data/pgdata
        healthcheck:
            test: ["CMD-SHELL", "pg_isready"]
            interval: 10s
            timeout: 5s
            retries: 5

    # riven-frontend: (see https://github.com/rivenmedia/riven-frontend/blob/main/docker-compose.yml)

    # jellyfin:
    #     image: jellyfin/jellyfin
    #     container_name: jellyfin
    #     user: 1000:1000
    #     restart: unless-stopped
    #     ports:
    #     - "8096:8096"
    #     volumes:
    #     - /path/to/jellyfin/config:/config
    #     - ${RIVEN_HOST_MOUNT_PATH:?set in .env}:/mount:rslave,z

