name: Verify

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true

      - name: Install pre-requisites
        run: |
          sudo apt update
          sudo apt install libfuse3-dev

      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - uses: jakebailey/pyright-action@v1
        with:
          pylance-version: latest-release
