name: Verify

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: jakebailey/pyright-action@v1
        with:
          pylance-version: latest-release
